/* for this example I'm only really targeting modern browsers, hence fonts,
   [foo=bar] and display:table.
   http://caniuse.com/#feat=css-table
*/    

.data-cloak {
   display:none !important;
}


@font-face {
    font-family: "Blokk";
    src: url(../fonts/BLOKKNeue-Regular.ttf) format("truetype");
}
* {
   /*font-family: Blokk, sans-serif;*/
   list-style: none;
}

.pageInfo {
   background-color:green;
   color:white;
   padding: 10px 50px; 
}

.modularPage {
   font-family: Helvetica, Arial, sans-serif;
   font-weight: 300;
}

a {
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}

.notLoaded{
   opacity:0;
   font-size:0.1px; /* don't let placeholder text expand the layout, just make it very small */
}
.loaded {
   opacity:1;
   transition: opacity 0.5s;
}

section.module {
   transition:opacity 0.5s;
}
section.module-notStartedLoading {
   opacity: 0.2;   
}
section.module-loading {
   opacity: 0.5;
}
section.module-loaded {
   opacity: 1;
}

body {
   background: #F6F6F6;
   margin:0; padding: 0;
   font-size:90%;
}

.content,
.mainHeading,
.topLinks {
   width: 90%;
   max-width: 1150px;
   margin-left: auto;
   margin-right: auto;
   background-color: white;
}

section.moduleBox {
   padding:20px;
   border: 1px #eee solid;
   min-height: 100px;
}

.moduleBox > header {
   font-size: 1.5em
}

.content {
  position: relative;
  min-height: 40em;
  width:90%;
}
.secondaryContent {
  position: absolute;
  width: 400px;
  top: 0;
  right:0;
}
.mainContent {
  margin-right: 399px;
}

#logo {
   color:#fc5e1c;
}

.calendar .weeks {
   display: table;
}

.calendar .weekRow,
.calendar .dayHeadings {
   display: table-row;   
}

.calendar .weekRow {
   height: 20px;
}

.calendar .day,
.calendar .dayHeadings span {
   text-align: center;
   display:table-cell;
   width: 19px;
}

.dayHeadings {
   color: #999;
}

.calendar .barCell {
   display:table-cell;
   width:250px;
}
.calendar .bar {
   display:inline-block;
   height:19px;
   vertical-align: top;
   transition: width 0.5s;
   border-left:1px white solid;
   
   background: #e34503;
   background: -moz-linear-gradient(top, #fc5e1c, #e34503);
   background: -webkit-gradient(linear, left top, left bottom, from(#fc5e1c), to(#e34503));
   background: -o-gradient(linear, left top, left bottom, from(#fc5e1c), to(#e34503));
   background: -ms-gradient(linear, left top, left bottom, from(#fc5e1c), to(#e34503));   
}

.calendar .day {
   height: 19px;
   border-left:2px white solid;
   border-bottom:2px white solid;
   background-color:#D4D4D4;
   transition: background-color 0.5s;
} 
.calendar .day.active-true {
   background-color: black;
}
.calendar .day.active-unknown {
   opacity:0;
}

table {
   text-align: left;
}


[data-module=activitySummary] {
   background: #f5f5f5;
   background: -moz-linear-gradient(top, #fff, #f5f5f5);
   background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
   background: -o-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
   background: -ms-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
   
   min-height: 173px;
}

.moduleContents {
   margin-top: 20px;  
}

[data-module=activitySummary] > header {
   font-size: 1.8em;
}

[data-module=activitySummary] .moduleContents > section {
   /* activity sumary has 3 parts, needing horizontal stacking. */
   display: inline-block;   
   vertical-align:top;
   margin-right:20px;
}   

[data-module=activitySummary] .moduleContents > section > header {
   color: #999;
   font-size: 0.9em;
   text-transform: uppercase;
   margin-bottom: 7px;
}

.total {
   text-align: center;
}
.total .number {
   font-size: 64px;
   font-weight: 400;
}
 
