/* for this example I'm only really targeting modern browsers, hence fonts,
   [foo=bar] and display:table.
   http://caniuse.com/#feat=css-table
*/    

.data-cloak {
   display:none;
}
@font-face {
    font-family: "Blokk";
    src: url(../fonts/BLOKKNeue-Regular.ttf) format("truetype");
}
* {
   /*font-family: Blokk, Sans;*/
}

body.modularPage {
   background: #F6F6F6;
}

.topLinks {
   background-color: white;
}

#logo {
   color:#E14823;
}

button {
   background-color:#E14823;
   color:white;
}

.calendar .day {
   display:inline-block;
   width: 20px;
   height: 20px;
}
.calendar .day.active-true {
   background-color: black;
}