/* for this example I'm only really targeting modern browsers, hence fonts,
   [foo=bar] and display:table.
   http://caniuse.com/#feat=css-table
*/    

.data-cloak {
   display:none;
}


@font-face {
    font-family: "Blokk";
    src: url(../fonts/BLOKKNeue-Regular.ttf) format("truetype");
}
* {
   /*font-family: Blokk, Sans;*/
}

.pageInfo {
   background-color:green;
   color:white;
   padding: 10px 50px; 
}

a {
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}

.notLoaded{
   opacity:0;
   font-size:0.1px; /* don't let placeholder text expand the layout, just make it very small */
}
.loaded {
   opacity:1;
   transition: opacity 0.5s;
}

body {
   background: #F6F6F6;
   margin:0; padding: 0;
}

.content,
.mainHeading,
.topLinks {
   width: 90%;
   max-width: 1150px;
   margin-left: auto;
   margin-right: auto;
   background-color: white;
}

section.moduleBox {
   padding:20px;
   border: 1px #eee solid;
}

section header {
   font-size: 1.8em
}

.content {
  position: relative;
  min-height: 40em;
  width:90%;
}
.secondaryContent {
  position: absolute;
  width: 400px;
  top: 0;
  right:0;
}
.mainContent {
  margin-right: 399px;
}

#logo {
   color:#E14823;
}

button {
   background-color:#E14823;
   color:white;
}

.calendar .weeks {
   display: table;
}

.calendar .weekRow,
.calendar .dayHeadings {
   display: table-row;   
}

.calendar .weekRow {
   height: 20px;
}

.calendar .day,
.calendar .dayHeadings span {
   text-align: center;
   display:table-cell;
   width: 19px;
}

.calendar .barCell {
   display:table-cell;
   width:200px;
}
.calendar .bar {
   display:inline-block;
   background-color:#E14823;
   height:15px;
   transition: width 0.5s;
   border-left:1px white solid;
}

.calendar .day {
   height: 19px;
   border-left:1px white solid;
   border-bottom:1px white solid;
   background-color:#D4D4D4;
   transition: background-color 0.5s;
}
.calendar .weekSummary {
   display:table-cell;
   width:100px;
} 
.calendar .day.active-true {
   background-color: black;
}
.calendar .day.active-unknown {
   opacity:0.2;
}

table {
   text-align: left;
}